a {
    cursor: pointer;
}

.title-underlines {
    width: 35vh;
    height: 10px;
    margin: 0 auto;
    margin-top: 2vh;
}

#carousel {
    
    max-height: max-content;
}

.p {
    font-family: 'Great Vibes', cursive;
}
